################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
/ЛР1/.vs/ЛР1/FileContentIndex/002f6198-5509-4cf0-b4f6-8e84124c5bac.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/1876a656-29f4-4596-800e-964642a097ed.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/57f3fceb-a349-4223-91c9-79b5dfe12c40.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/918262eb-663a-405b-8a9f-22293f135ccb.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/9852bd96-40f5-43d8-bdcd-c412440e87b9.vsidx
/ЛР1/.vs/ЛР1/v17/Browse.VC.opendb
