################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
/ЛР1/.vs/ЛР1/FileContentIndex/002f6198-5509-4cf0-b4f6-8e84124c5bac.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/1876a656-29f4-4596-800e-964642a097ed.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/57f3fceb-a349-4223-91c9-79b5dfe12c40.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/918262eb-663a-405b-8a9f-22293f135ccb.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/9852bd96-40f5-43d8-bdcd-c412440e87b9.vsidx
/ЛР1/.vs/
ЛР1/.idea/.idea.ЛР1/.idea/.gitignore
ЛР1/.idea/.idea.ЛР1/.idea/encodings.xml
ЛР1/.idea/.idea.ЛР1/.idea/indexLayout.xml
ЛР1/.idea/.idea.ЛР1/.idea/vcs.xml
ЛР2/.vs/ЛР2/FileContentIndex/8ebdd1df-d90d-4f7b-8a17-0f7f5103f49e.vsidx
ЛР2/.vs/ЛР2/v17/.suo
ЛР2/.vs/ЛР2/v17/Browse.VC.db
ЛР2/.vs/ЛР2/v17/Browse.VC.db-shm
ЛР2/.vs/ЛР2/v17/Browse.VC.db-wal
ЛР2/.vs/ЛР2/v17/Browse.VC.opendb
ЛР2/.vs/ЛР2/v17/Solution.VC.db
ЛР2/.vs/ЛР2/v17/ipch/AutoPCH/5bdeab48ef3d86bf/ЛР2.ipch
ЛР2/x64/Debug/vc143.idb
ЛР2/x64/Debug/vc143.pdb
ЛР2/x64/Debug/ЛР2.exe
ЛР2/x64/Debug/ЛР2.exe.recipe
ЛР2/x64/Debug/ЛР2.ilk
ЛР2/x64/Debug/ЛР2.log
ЛР2/x64/Debug/ЛР2.obj
ЛР2/x64/Debug/ЛР2.pdb
ЛР2/x64/Debug/ЛР2.vcxproj.FileListAbsolute.txt
ЛР2/x64/Debug/ЛР2.tlog/CL.command.1.tlog
ЛР2/x64/Debug/ЛР2.tlog/Cl.items.tlog
ЛР2/x64/Debug/ЛР2.tlog/CL.read.1.tlog
ЛР2/x64/Debug/ЛР2.tlog/CL.write.1.tlog
ЛР2/x64/Debug/ЛР2.tlog/link.command.1.tlog
ЛР2/x64/Debug/ЛР2.tlog/link.read.1.tlog
ЛР2/x64/Debug/ЛР2.tlog/link.write.1.tlog
ЛР2/x64/Debug/ЛР2.tlog/ЛР2.lastbuildstate
/ЛР2/.vs/ЛР2
/LT2/.idea/.idea.LT2/.idea
/LT2/bin/Debug/net7.0
/LT2/obj
