################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ЛР1/.vs/ЛР1/FileContentIndex/1876a656-29f4-4596-800e-964642a097ed.vsidx
/ЛР1/.vs/ЛР1/FileContentIndex/3d19b0ac-ec07-4be1-8c4b-8a1e26a9e7aa.vsidx
